.Card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  column-gap: 20px;
  margin: 50px 20px;
  background-color: rgb(55, 55, 55);
  color: white;
  border-radius: 40px;
  font-family: 'Signika', sans-serif;
  font-size: clamp(0.8rem, -0.1286rem + 2.9714vw, 2.1rem);
}

.Card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 38px 0 0 38px;
}

.Card__heading {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: clamp(1.4rem, -0.4571rem + 5.9429vw, 4rem);
}
